<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styleshits/style.css' />
  </head>
  <body>
    <!-- Add a link to the home page -->
    <a href="/">Home</a>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>